
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.env.*

# Virtual environment
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# React (frontend)
node_modules/
build/
dist/
.cache/
.env.local
.env.development
.env.production

# System files
Thumbs.db
ehthumbs.db
Icon?
